{
    "presets": [
        "stage-0",
        "react",
        ["env", {
            "modules": false
        }]
    ],
    "plugins": [
        "transform-decorators-legacy",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}