:local(.test) {
    .imgWrap{
        border:1px solid red;
        width: 200px;
        height: 100px;
        margin-bottom: 50px;
    }
    .img_test1{
        background: url(../imgs/test_2.png);
        background-size:contain;
    }
    .img_test2{
        background: url(../imgs/test_2.png);
        background-size: cover;
    }
}