doctype html
html(lang="zh-CN")
    head
        title= pageTitle
        link(rel="stylesheet" href="../../public/index.css") 
    body
        h1 Pug - node template engine
        #container.col
        p #{name}'s Pug source code!
    script(type='text/javascript',src='../../public/vendor.js')
    script(type='text/javascript',src='../../public/index.js')
