doctype html
html(lang="zh-CN")
    head
        title= pageTitle
    body
        #root
            div(style="position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);")
                div 内容加载中...
    script(type='text/javascript',src='/js/vendor.js')
    script(type='text/javascript',src='/js/login.js')
