doctype html
html(lang="zh-CN")
    head
        title= pageTitle
        link(rel="stylesheet" href="/css/index.css")
        link(rel="stylesheet" href="/css/login.css")  
    body
        .signInsignUpWrap
            #signInsignUp.u-center
                div.title 
                    h1.titleImg
                #root
    script(type='text/javascript',src='/js/vendor.js')
    script(type='text/javascript',src='/js/index.js')
