doctype html
html(lang="zh-CN")
    head
        title= pageTitle
    body
        .signInsignUpWrap
            #signInsignUp.u-center
                div.title 
                    h1.titleImg
                #root
    script(type='text/javascript',src='/js/vendor.js')
    script(type='text/javascript',src='/js/login.js')
