body{background-color: #fafafa;}
.u-center{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
li{list-style: none;}
ul{padding: 0;}
.btn{cursor: pointer;}
:local(.Profile){
    max-width: 935px;
    margin: 0 auto;
    margin-top: 140px;
    .u-clear::after{content: '';display: block;clear: both;}
    // .ant-upload-list-item.ant-upload-list-item-done{display: none;}
}